@import "./globals/vars.scss";
.container {
  margin-top: -61px;
  background-color: $--clr-white;
  min-height: 300vh;
  .introImg {
    background-image: url("../public/introImg1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }
  .sectionLayout {
    padding: 100px 50px;

    .sectionIntro {
      text-align: center;
      p {
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
      }
    }
  }
  .aboutSec {
    background-color: $--clr-green;
  }
}
@media only screen and (min-width: 766px) {
  .container {
    .sectionLayout {
      .sectionIntro {
        p {
          padding: 20px 40px;
          width: 70%;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .container {
    .sectionLayout {
      .sectionIntro {
        p {
          width: 50%;
        }
      }
    }
  }
}
.dashwhite {
  width: 50px;
  height: 6px;
  display: inline-block;
  background-color: $--clr-black;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
