@import "./globals/vars.scss";

.container {
  background-color: $--clr-white;
  .toTop {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    background-color: $--clr-green-darker;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
    padding: 7px;
    transform: translateX(200px);
    transition: $--transition;

    svg {
      display: block;
    }
  }
  .topActive {
    transform: translateX(0);
  }

  .sectionLayout {
    position: relative;
    padding: 100px 10px;
    .sectionIntro {
      position: relative;
      z-index: 3;
      text-align: center;
      .upper {
        font-size: $--font-h2;
        padding: 0;
        margin-bottom: 20px;
      }
      p {
        padding-top: 0;
        padding-bottom: 20px;
        margin: 0 auto;
        width: 100%;
      }
    }
    .sectionOverlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $--clr-black-04;
    }
  }
  .wwdSec {
    background-color: $--clr-green;
    .content {
      padding: 20px;
    }
  }
  .hwwSec {
    background-color: $--clr-white;
    color: $--clr-white;
    background-image: url("../public/introImg1.jpg");
    background-position: center;
    background-size: cover;
    .content {
      min-height: 40vh;
      position: relative;
      z-index: 3;
      p {
        background-color: $--clr-white;
        color: $--clr-black;
        padding: 15px;
        text-align: center;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .imageSec {
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/brod.jpg");
    filter: grayscale(70%);
  }
  .contactSec {
    .content {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .contactInfo{
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        div{
          text-align: center;
          border-bottom: 3px solid $--clr-green;
          p{
            font-size: 0.8rem;
            margin-top: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-left: 3px solid transparent;
            padding: 5px 10px;
            text-align: left;
            position: relative;
            transition: $--transition;
            svg {
              margin-right: 10px;
              display: block;
            }
            .copyIcon{
              position: absolute;
              right: 10px;
            }
            &:hover {
              color: $--clr-gray;
              border-left: 3px solid $--clr-green;
              background-color: $--clr-white-02;
            }
          }
        }
        
      }
      
    }
  }
  .ownerSec {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .container {
    .contactSec {
      .content {
        padding: 20px 60px;
        grid-template-columns: 1fr 1fr;
        .contactInfo{
          grid-template-columns: 1fr 1fr;
          div{
            p{
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 766px) {
  .container {
    .sectionLayout {
      padding: 100px 30px;
      .sectionIntro {
        p {
          padding: 20px 40px;
          padding-top: 0;
          width: 70%;
        }
      }
    }
    .hwwSec {
      .content {
        p {
          width: 70%;
        }
      }
    }
    .contactSec {
      .content {
        padding: 20px 30px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .container {
    .sectionLayout {
      padding: 100px 50px;
      .sectionIntro {
        p {
          width: 50%;
        }
      }
    }
    .hwwSec {
      .content {
        p {
          width: 50%;
        }
      }
    }
    .contactSec {
      .content {
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        .contactInfo{
          grid-template-columns: 1fr 1fr 1fr;
          div{
            p{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
.dash {
  width: 50px;
  height: 6px;
  display: inline-block;
  background-color: $--clr-black;
  margin: 20px 0;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
.dashgreen {
  background-color: $--clr-green;
}
