@import "./globals/vars.scss";
.container {
  padding: 100px 0;
  margin: 0 20px;
  background-color: $--clr-white;
  .wrapper{
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header {
    text-align: center;
    p {
      margin: 10px;
      font-size: $--font-h3;
      color: $--clr-green;
    }
  }
  .content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    .text {
      button {
        background-color: $--clr-green;
        padding: 10px;
        border: none;
        font-size: $--font-text;
        border-radius: 5px;
        color: $--clr-white;
        font-weight: 500;
        margin-top: 15px;
        transition: $--transition;
        &:hover {
          background-color: $--clr-green-darker;
        }
      }
      p {
        text-align: justify;
      }
    }
  }
}
.introImage {
  overflow: hidden;

  // div {
  //   position: relative !important;
  // }
  // img {
  //   width: 100% !important;
  //   height: auto !important;
  //   margin: 0 !important;
  //   position: relative !important;
  //   min-width: 0 !important;
  //   min-height: 0 !important;
  // }
}
.dash {
  width: 50px;
  height: 6px;
  display: inline-block;
  background-color: $--clr-green;
  margin: 20px 0;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
@media only screen and (min-width: 992px) {
  .container {
    margin: 0 100px;
    .wrapper{
      grid-template-columns: 1fr 1fr;
    }
    .content {
      margin-top: 0px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    margin: 0 200px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    margin: 0 300px;
  }
}
