$--clr-white: rgba(255, 255, 255, 1);
$--clr-black: rgba(33, 33, 33, 1);
$--clr-gray: rgb(167, 167, 167);
$--clr-light-gray: rgb(219, 241, 239);
$--clr-black-04: rgba(33, 33, 33, 0.4);
$--clr-green: rgba(64, 224, 208, 1);
$--clr-green-darker: rgb(62, 204, 190);
$--clr-green-darker-07: rgba(62, 204, 190, 0.5);
$--font-h1: 30px;
$--font-h2: 24px;
$--font-h3: 20px;
$--font-text: 16px;
$--transition: all 0.3s;
